@model IEnumerable<OnlineShop.Models.SpecialTag>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Special Tag List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Special Tag</a>
    </div>
</div>
<br />
<div>
    <table id="myTable" class="table table-striped tab-content">
        <thead>
            <tr class="text-info">
                <th>
                    @Html.DisplayNameFor(c => c.SpecialTags)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var specialTag in Model)
            {
                <tr>
                    <td>@specialTag.SpecialTags</td>
                    <td> <partial name="_SpecialTagButtonPartialView" model="@specialTag.Id" /> </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'print'
                ]
            });
        });
    </script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
    $(function(){
        var save = '@TempData["save"]'
        var edit = '@TempData["edit"]'
        var deleted ='@TempData["delete"]'
        if (save!='') {
            alertify.success(save);
        }
        if (edit!='') {
            alertify.success(edit);
        }
        if (deleted!='') {
            alertify.error(deleted);
        }
    })
    </script>

}
